.advantage-blur {
    background-color: rgba(0, 10, 255, 0.2);
    background-size: 450px 450px;
    filter: blur(450px);
    width: 600px;
    height: 800px;
    position: absolute;
    top: 803px;
    left: 0;
}

.blur {
    background-color: rgba(0, 209, 255, 0.2);
    filter: blur(450px);
    background-size: 450px 450px;
    width: 600px;
    height: 1000px;
    position: absolute;
    right: 0;
    top: 1350px;
}

.advantage-title {
    margin-top: -50px;
    padding-left: 150px;
}

.advantages {
    margin-top: 60px;
    padding: 0 150px;
    display: flex;
    overflow-x: scroll;
}

.advantage-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #EDF0F4;

}

.advantages-small {
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 20px;
}

.advantages-cell {
    display: flex;
    flex-direction: column;
}

.advantages-text {
    display: flex;
    flex-direction: row;
}

.advantages-img {
    border-radius: 20px;
    width: 280px;
    height: 228px;
}

.advantages-title {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'case' on;
    color: #E5BF9B;
    margin-top: 12px;
}

.advantages-desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #EDF0F4;
    margin-top: 25px;
    margin-left: 15px;
    width: 172px;
}

.advantages-desc:nth-child(2) {
    width: 195px;
}

.advantages-desc-big {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #EDF0F4;
    margin-top: 25px;
    margin-left: 15px;
    width: 318px;
}

.advantages-cell-big {
    margin: 0 20px;
}

.advantages-img-big {
    width: 538px;
    height: 552px;
    border-radius: 20px;
}